<!--/about -->
<div class="about" id="about">
  <div class="container">
    <div class="wthree-about">
      <div class="col-md-6 ab-w3l-text">
        <h2>ABOUT US</h2>
        <p style="font-size: 18px">We love to serve best food to our customers. Our restaurant is more than a place that serves great food at down-to-earth prices. We have wide variety of foods for our customers to choose. We provide service for take-away, online order food delivery and tiffin orders. We also offer our catering services for parties, ceremonies and marriages.</p>
      </div>
      <div class="col-md-6 about-w3l-agileifo-grid">
        <img src="/images/ab.jpg" alt=" " class="img-responsive">
        <div class="img-ab"> <img src="/images/ab1.jpg" alt=" " class="img-responsive"></div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//about -->