<!-- banner -->
<div class="banner">
  <!-- header -->
  <div class="header">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <img src="/images/doon-baithak1.png">
        </div>
        <!-- navbar-header -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" class="hvr-underline-from-center active">Home</a></li>
            <li><a href="#services" class="hvr-underline-from-center scroll">Services</a></li>
            <li><a href="#about" class="hvr-underline-from-center scroll">About</a></li>
            <li><a href="#menu" class="hvr-underline-from-center scroll">Menu</a></li>
            {{!--<li><a href="#team" class="hvr-underline-from-center scroll">Chefs</a></li>--}}
            <li><a href="#gallery" class="hvr-underline-from-center scroll">Gallery</a></li>
            <li><a href="#contact" class="hvr-underline-from-center scroll">Contact Us</a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </nav>
    </div>
  </div>
  <!-- //header -->
  <!-- banner-text -->
  <div class="banner-text">
    <div class="container">
      <div class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="slider-info">
              <h3>Taste Something <span> New </span></h3>
              <h4>DELICIOUS RECIPES</h4>
              <p class="sub-para">DISCOVER OUR RESTAURANT</p>
            </div>
          </li>
          <li>
            <div class="slider-info">
              <h3>We Believe in <span>Taste</span></h3>
              <h4>NATURAL FLAVOURS</h4>
              <p class="sub-para">DISCOVER OUR RESTAURANT</p>
            </div>
          </li>
          <li>
            <div class="slider-info">
              <h3>Taste Something <span> New </span></h3>
              <h4>DELICIOUS RECIPES</h4>
              <p class="sub-para">DISCOVER OUR RESTAURANT</p>
            </div>
          </li>
          <li>
            <div class="slider-info">
              <h3>We Believe in <span>Taste</span></h3>
              <h4>NATURAL FLAVOURS </h4>
              <p class="sub-para">DISCOVER OUR RESTAURANT</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--//banner-section -->