<!-- /Services -->
<div class="agile-services-w3" id="services">
  <div class="container">
    <h3 class="tittle ser">OUR SERVICES</h3>
    <div class="wthree-agile-sevre-grids">
      <div class="col-md-3 wthree-agile-grid">
        <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
          <a href="#" class="hi-icon icon1"></a>
        </div>
        <h4>Menu</h4>
      </div>
      <div class="col-md-3 wthree-agile-grid">
        <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
          <a href="#" class="hi-icon icon2"></a>
        </div>
        <h4>Delivery</h4>
      </div>
      <div class="col-md-3 wthree-agile-grid">
        <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
          <a href="#" class="hi-icon icon3"></a>
        </div>
        <h4>Catering (starting soon...)</h4>
      </div>
      <div class="col-md-3 wthree-agile-grid">
        <div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
          <a href="#" class="hi-icon icon4"></a>
        </div>
        <h4>Tiffin (starting soon...)</h4>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //Services -->